<h2>Edit supplier</h2>

<%= render "edit_form.html", changeset: @changeset,
                        action: supplier_path(@conn, :update, @supplier), supplier: @supplier, conn: @conn %>

<%= link "Back", to: supplier_path(@conn, :index) %>
