<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello Beautify!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>

    <%= if @current_user do %>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <div>
      <header>Header</header>
    </div>

    <nav id="drawer">
       <ul>
        <li><a href="<%=page_path(@conn, :index)%>">Home</a></li>
        <li><a href="<%=client_path(@conn, :index)%>">Clients</a></li>
        <li><a href="<%=supplier_path(@conn, :index)%>">Suppliers</a></li>
       </ul>
    </nav>

    <div id="page-content">

    <div>
      <ul>
        <li>
          <%= @current_user.email %> (<%= @current_user.id %>)
        </li>
        <li>
          <%= link "Sign out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
        </li>
      </ul>
    </div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </div>

  <% else %>
  <main role="main">
    <%= render @view_module, @view_template, assigns %>
  </main>

  <li><%= link "Register", to: user_path(@conn, :new) %></li>
  <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
  <% end %>

   <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

<body>
  <div class="container">

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

  </div> <!-- /container -->
</body>

</html>
