<h2>Edit blind price</h2>

<%= render "form.html", changeset: @changeset,
                        action: blind_price_path(@conn, :update, @blind_price) %>

<%= link "Back", to: blind_price_path(@conn, :index) %>
