<h2>New client</h2>

<%= render "form.html", changeset: @changeset,
                        action: client_path(@conn, :create, client: @client, conn: @conn) %>

<%= link "Back", to: client_path(@conn, :index) %>
