<h2>Show client</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @client.name %>
  </li>

  <li>
    <strong>Surname:</strong>
    <%= @client.surname %>
  </li>

  <li>
    <strong>Adress:</strong>
    <%= @client.adress %>
  </li>

</ul>

<%= link "Edit", to: client_path(@conn, :edit, @client) %>
<%= link "Back", to: client_path(@conn, :index) %>
